<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
  <div class="circle" :style="{'background-color': color, 'height': height + 'px'}"></div>
  <div class="circle" :style="circleClasses"></div>
  <div class="circle" :style="[circleClasses, {'width': height + 'px'}]"></div>

  <br><br>
  <hr>
  <br><br>

  <input type="text" v-model="color">
  <input type="text" v-model="height">

</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="script.js"></script>
</body>
</html>